<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
    Your password has been reset. You can reset your password at <a href="<%= Rails.application.config.web_client_url %>/reset-password?email=<%= @user.email %>&amp;reset_token=<%= @token %>"><%= Rails.application.config.web_client_url %>/reset-password?email=<%= @user.email %>&amp;reset_token=<%= @token %></a>
    </p>
    <p>
    If you did not request a password reset, you can ignore this message
    </p>
  </body>
</html>

